<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoTGz9fVkH1icwbf0JsbgDNpDJNRJNFz0</string>
	<key>GCM_SENDER_ID</key>
	<string>371845310539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emrecanturk.recipeapp</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-e163c</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-e163c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371845310539:ios:98fd9616d734567a7b85ce</string>
</dict>
</plist>